.navbar {
    position: relative;
    z-index: 99999;
}
.navbar-brand {
    img {
        width: 33px;
    }
}
.navbar-collapse {
    .border-right {
        border: 0 !important;
    }
}
@include media-breakpoint-up(lg) {
    .navbar-brand {
        img {
            width: 53px;
        }
    }
    .navbar-collapse {
        .border-right {
            border-right: 1px solid white !important;
        }
    }
    .form-inline {
        &.bg-primary {
            background-color: transparent !important;
        }
        .text-small {
            color: $primary !important;
        }
    }
}
@include media-breakpoint-down(md) {
    .navbar{
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
        background-color: white !important;
    }
}
